<label for="site-nav-toggle" class="site-nav-toggle-label"><i class="fas fa-bars"></i></label>

<nav class="site-nav">
    <ul>
        {% assign navigation_pages = site.pages | sort:"order" %}
        
        <li><img src="{{ site.baseurl }}{{ site.image }}"></li>
        <li><h1>{{ site.title }}</h1></li>
    </ul>
    <ul>

        {% for page in navigation_pages %}
        {% if page.title %}
                <li class="page-title-{{ page-title | slugify }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li> 
        {% endif %}
        {% endfor %}
        
    </ul>
</nav>            