.site-header {
    height: 5em;
}

.site-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.site-nav ul li {
   display: block; 
}

.site-nav ul li img {
    width: 40%;
    margin-top: 10px;
    z-index: 0;
    margin-left: 15px;
 }

.site-nav a {
    display: block;
    padding: 0.5em 1em;
    background: white;
    color: red;
    text-decoration: none;
    margin-left: 2px;
}

.site-nav a:hover {
    /* background: green; */
    color: green;
    border-bottom: 2px solid green;
    
}