
.site-nav {
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.site-nav ul li {
   display: block;
   z-index: 5; 
}

.site-nav ul li img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    z-index: 0;
    margin-left: 15px;
    margin-right: 10px;
 }

.site-nav a {
    display: block;
    padding: 0.5em 1em;
    background: white;
    color: red;
    text-decoration: none;
    margin-left: 2px;
}

.site-nav a:hover {
    color: green;
    border-bottom: 2px solid green;

}

.siet-nav-toggle + .site-header .site-nav > ul {
    background: rgb(150, 147, 147);
}

.siet-nav-toggle:checked + .site-header .site-nav > ul {
    background: rgb(150, 147, 147);
}

label {
    display: none; 
}

.site > input {
    display: block;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

// @include bp(mobile) {
//     display: none;
// }


@media ( max-width: 900px ) {

    label {
       display: flex; 
       justify-content: flex-end;
    }

    .site-nav ul:nth-child(2) {
    display: none;
    left: 0;
    top: 100%;
    position: absolute;
    background-color: rgb(240, 234, 234);
    }

    .site-nav ul:nth-child(1) li:nth-child(2) {
        display: none;
    }

    .site-nav li {
        position: relative;
    }
}


footer {
    background: rgba(51, 51, 51, 0.507);
    color: white;
}

footer p {
    padding: 1em;
    text-align: center;
}


