<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{{ site.title }}</title>
    
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script>
            window.addEventListener('load', (event) => {
                document.querySelector( "body" ).classList.add( "loaded");
            });
    </script>

</head>
<body class="page-{{ page.title | slugify }}"> 
    
<div class="site">
    <div class="site-wrapper">
        <input type="checkbox" id="site-nav-toggle" class="site-nav-toggle">
<header class="site-header">
            
            {% include navigation.html %}
             
            <section>
                <h2>WELCOME</h2>
                <p>This is my portfolio</p>
            </section>  

</header>
    </div>
<main class="site-main">
    <div class="site-wrapper">        
            {{ content }}
    </div>
</main>

        <footer class="site-footer">
            <p>{{ site.title}} &copy; All rights reserved</p>
        </footer>

    </div>
            
      
    
</body>
</html>